.errorlist{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: .8em;
	color: #e81111;
    padding: 4px 0;
}
a{
	text-decoration: none;
}
body{
	background-color: #121e2f;
    color: white;
}
.card{
	background-color: rgba(255,255,255,.07);
	border: 1px solid rgba(0,0,0,.5);
}
.card-header{
	background-color: rgba(0, 0, 0, 0.2);
}
.form-group{
	margin-bottom: 5px;
}
label{
	color: #fff;
	padding-bottom: 2px;
	padding-left: 2px;
}
.form-control{
	background-color: #121e2f;
	border: 1px solid rgba(0,0,0,.5);
	color: #fff;
}
.form-control:focus{
	color: #fff !important;
}
.form-control:focus{
	background-color: #121e2f;
}
a{
	color: #17c4da
}
.btn-primary{
	color: white;
    background-color: #16bcd1;
    border-color: #16bcd1;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover{
	background-color: #001A40;
	border: 1px solid rgba(0,0,0,.5);
	color: white;
}
.nav-tabs{
	border-bottom: 1px solid #17c4da;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
	border-color:transparent;
	background-color: rgba(255,255,255,.03);
}
.nav-tabs .nav-link{
	color: white;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	color: white;
    background-color: #16bcd1;
    border-color: #16bcd1;
}
.config-tabs .ion{
	width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
	margin-right: 5px;
}
.input-group-text{
	background-color: rgba(255, 255, 255, 0.3);
	border: none;
	color: white;
}
.table-vm th,
.table-vm td{
	vertical-align: middle
}
.text-success{
	color: #20ab6a !important;
}
.table {
	border-radius: 3px;
	overflow: hidden;
}
.table thead tr th{
	background-color: #223248;
	color: white;
}
.table tbody tr{
	background-color: rgb(255, 255, 255);
}
.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgb(255,255,255, .9);
}
.navbar .nav-link{
	color: rgba(0,0,0,.9);
}
.text-primary{
	color: #001a40 !important
}
.dot-status{
	width: 20px;
	height: 20px;
	border-radius: 50%;
}