<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voucher</title>

    <style>
        body, html{
            padding: 0;
            margin: 0;
        }
        body{
            font-family: arial, helvetica, sans-serif;
        }
        .text-center{
            text-align: center;
        }
        .divider{
            height: 10px;
        }
        .wrapper{
            border-collapse: collapse;
            font-size: .9em;
            padding: 0 15px;
            width: {{ configuracion.ancho_papel_impresora_px }}px;
        }
        td{
            /* These are technically the same, but use both */
            overflow-wrap: break-word;
            word-wrap: break-word;

            -ms-word-break: break-all;
            /* This is the dangerous one in WebKit, as it breaks things wherever */
            word-break: break-all;
            /* Instead use this non-standard one: */
            word-break: break-word;

            /* Adds a hyphen where the word breaks, if supported (No Blink) */
            -ms-hyphens: auto;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            hyphens: auto;
        }
    </style>
</head>
<body>
    <table class="wrapper">
        <tr>
            <td colspan="2" class="text-center">
                <h3 style="margin: 5px 0;line-height: 1">Banorte</h3>
                <h4 style="margin: 15px 0;line-height: 1">{{ tipo_transaccion }}</h4>

                <h4 style="margin: 5px 0;">
                    {{ configuracion.razon_social }}
                    <br>RFC: {{ configuracion.rfc }}
                </h4>
                <h5 style="font-size: .7em;margin:0 0 20px 0">
                    {{ configuracion.get_direccion }}
                    {% if configuracion.telefono %}
                    <br>Tel: {{ configuracion.telefono }}
                    {% endif %}
                </h5>
            </td>
        </tr>
        <tr>
            <td style="width: 150px">Afiliación:</td>
            <td>{{ tarea.resultado_banorte.afiliacion }}</td>
        </tr>
        <tr>
            <td>Terminal ID:</td>
            <td>{{ tarea.resultado_banorte.terminal }}</td>
        </tr>
        <tr>
            <td>Número de control:</td>
            <td>{{ tarea.resultado_banorte.numero_control }}</td>
        </tr>
        <tr>
            <td colspan="2" class="divider"></td>
        </tr>
        <tr class="text-center">
            {% if tarea.resultado_banorte.numero_tarjeta %}
            <td>
                <div>Número de tarjeta:</div>
                <div>{{ tarea.resultado_banorte.numero_tarjeta }}</div>
            </td>
            {% endif %}

            {% if tarea.get_datos.datos.numero_tarjeta %}
            <td>
                <div>Número de tarjeta:</div>
                <div>{{ tarea.get_datos.datos.numero_tarjeta }}</div>
            </td>
            {% endif %}

            {% if tarea.resultado_banorte.expiracion_tarjeta %}
            <td>
                <div>Vigencia:</div>
                <div>{{ tarea.resultado_banorte.expiracion_tarjeta }}</div>
            </td>
            {% endif %}
            
            {% if tarea.get_datos.datos.expiracion_tarjeta %}
            <td>
                <div>Vigencia:</div>
                <div>{{ tarea.get_datos.datos.expiracion_tarjeta }}</div>
            </td>
            {% endif %}
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                {% if tarea.resultado_banorte.resultado == "A" %}
                <h4>Aprobada</h4>
                {% endif %}
                
                {% if tarea.resultado_banorte.resultado == "D" %}
                    {% if tarea.resultado_banorte.declinado_chip %}
                        <h4>Declinada Offline</h4>
                    {% elif tarea.resultado_banorte.declinado_emv %}
                        <h4>Declinada EMV</h4>
                    {% else %}
                        <h4>Declinada</h4>
                    {% endif %}
                {% endif %}
                
                {% if tarea.resultado_banorte.resultado == "R" or tarea.resultado_banorte.resultado == "T" %}
                <h4>Declinada</h4>
                {% endif %}
            </td>
        </tr>

        {% if not tarea.resultado_banorte.declinado_chip %}
        <tr>
            {% if tarea.resultado_banorte.marca_tarjeta %}                
            <td>
                <div>Tipo de tarjeta:</div>
                <div>{{ tarea.resultado_banorte.marca_tarjeta }}</div>
            </td>
            {% endif %}
            
            {% if tarea.resultado_banorte.tipo_tarjeta %}                
            <td>
                <div>Tipo:</div>
                <div>{{ tarea.resultado_banorte.tipo_tarjeta }}</div>
            </td>
            {% endif %}
        </tr>
        
        {% if tarea.resultado_banorte.banco_emisor %}            
        <tr>
            <td colspan="2">
                <div>Banco emisor:</div>
                <div>{{ tarea.resultado_banorte.banco_emisor }}</div>
            </td>
        </tr>
        {% endif %}
        
        {% if tarea.resultado_banorte.autorizacion %}            
        <tr>
            <td>
                <div>Código de autorización:</div>
            </td>
            <td>{{ tarea.resultado_banorte.autorizacion }}</td>
        </tr>
        {% endif %}

        {% endif %}


        <tr>
            <td>
                <div>Fecha y hora:</div>
            </td>
            <td>{{ tarea.resultado_banorte.fecha }}</td>
        </tr>

        
        {% if not tarea.resultado_banorte.declinado_chip %}
        
            {% if tarea.resultado_banorte.referencia %}
            <tr>
                <td>
                    <div>Referencia:</div>
                </td>
                <td>{{ tarea.resultado_banorte.referencia }}</td>
            </tr>
            {% endif %}
            
        {% endif %}
        
        {% if tarea.get_datos.datos.codigo == 5 and tarea.get_datos.datos.referencia %}            
        <tr>
            <td>
                <div>Referencia original:</div>
            </td>
            <td>{{ tarea.get_datos.datos.referencia }}</td>
        </tr>
        {% endif %}
        
        <tr>
            <td style="padding: 20px 0">
                <div>Importe:</div>
            </td>
            <td>${{ tarea.resultado_banorte.monto }}</td>
        </tr>

        {% if tarea.resultado_banorte.resultado == "A" %}
            {% if tarea.mostrar_autorizado_con_firma_electronica %} 
                <tr>
                    <td colspan="2" class="text-center">
                        {% if tarea.resultado_banorte.modo_entrada == "CONTACTLESSCHIP" %}
                        <h4>Autorizado sin firma</h4>
                        {% else %}
                        <h4>Autorizado con firma electrónica</h4>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2" class="text-center" style="padding-top: 35px;">________________________</td>
                </tr>
            {% endif %}

            {% if tarea.resultado_banorte.tarjetahabiente %}
            <tr>
                <td colspan="2" class="text-center" style="padding-bottom: 15px;">{{ tarea.resultado_banorte.tarjetahabiente }}</td>
            </tr>
            {% endif %}
        {% endif %}
        
        <tr>
            <td colspan="2"><hr></td>
        </tr>
        <tr>
            <td>
                <div>AID:</div>
            </td>
            <td>{{ tarea.resultado_banorte.aid|default:'' }}</td>
        </tr>
        <tr>
            <td>
                <div>TVR:</div>
            </td>
            <td>{{ tarea.resultado_banorte.tvr|default:'' }}</td>
        </tr>
        <tr>
            <td>
                <div>TSI:</div>
            </td>
            <td>{{ tarea.resultado_banorte.tsi|default:'' }}</td>
        </tr>
        <tr>
            <td>
                <div>APN:</div>
            </td>
            <td>{{ tarea.resultado_banorte.apn|default:'' }}</td>
        </tr>
        <tr>
            <td colspan="2"><hr></td>
        </tr>
        
        {% if tarea.resultado_banorte.declinado_chip or tarea.resultado_banorte.declinado_emv %}
        <tr>
            <td colspan="2" style="padding: 5px 0;">{{ tarea.resultado_banorte.emv_tags }}</td>
        </tr>
        <tr>
            <td colspan="2"><hr></td>
        </tr>
        {% endif %}

    </table>
</body>
</html>