{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'agente/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static "agente/css/app.css" %}?v=1.1.3">
    <title>{{ title }} | Agente Admintotal</title>
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    
    <link rel="icon" type="image/png" href="{% static 'agente/img/favicon.png' %}">

    <script src="{% static 'agente/js/jquery-3.6.0.min.js' %}"></script>
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    {% if request.configuracion.token %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between fixed-top border-bottom px-3">
      <a class="navbar-brand" href="{% url "agente:inicio" %}">
        <img src="{% static "agente/img/logo_azul_blanco.png" %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Admintotal <small class="text-muted">v{{ SETTINGS.VERSION }}</small> 
      </a>
        
      <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav align-items-center">
            <li class="nav-item mx-2 actualizacion-disponible" style="display: none">
              <a class="nav-link active text-success font-weight-bold" href="{% url 'agente:guia_actualizacion' %}">Versión <span id="v"></span> disponible</span></a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link {% if request.resolver_match.url_name == "inicio" %} active text-primary font-weight-bold {% endif %}" href="{% url "agente:inicio" %}">Inicio</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link {% if request.resolver_match.url_name == "tareas" %} active text-primary font-weight-bold {% endif %}" href="{% url "agente:tareas" %}">Tareas</a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link {% if request.resolver_match.url_name == "log_agente" %} active text-primary font-weight-bold {% endif %}" href="{% url "agente:log_agente" %}">Logs</a>
            </li>
            <li class="nav-item mx-2 border-start ps-3">
              <div class="loading">
                <div class="spinner-border text-muted" role="status" style="position: absolute; height: 25px; width: 25px;margin-left:-3px;margin-top:-2px" >
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
              <div class="dot-status"></div>
            </li>
            
            {% if SETTINGS.LOCAL_DEVELOPMENT %}
            <li class="nav-item mx-2 iniciar-agente" style="display:none">
              <a class="nav-link {% if request.resolver_match.url_name == "iniciar_agente" %} active text-primary font-weight-bold {% endif %}" href="{% url "agente:iniciar_agente" %}">Iniciar</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% endif %}

    {% include 'agente/includes/flash_messages.html' %}

    <div class="mt-4 py-5">
      {% block contenido %}
      {% endblock contenido %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'agente/js/popper.min.js' %}"></script>
    <script src="{% static 'agente/js/bootstrap.min.js' %}"></script>


    {% block js %}
    {% endblock js %}

    <script>
      function healthCheck() {
        $.ajax({
            url: "{% url 'agente:agente_health_check' %}",
            type: 'POST',
          }).done(function(res) {
            $(".dot-status").tooltip('dispose')

            $(".dot-status").attr("title", res.mensaje)            
            $(".dot-status").siblings(".loading").fadeOut("slow")

            if (res.status == "success") {
              $(".dot-status").attr("class", "dot-status bg-success")
              $(".dot-status").attr("title", "Agente en ejecución")
              
              $(".iniciar-agente").hide()
            } else {
              $(".dot-status").attr("class", "dot-status bg-danger")
              $(".iniciar-agente").show()
            }

            $(".dot-status").tooltip()
            setTimeout(healthCheck, 2000)
          }).fail(function(er) {
            setTimeout(healthCheck, 4000)
            $(".dot-status").tooltip('dispose')

            $(".dot-status").attr("class", "dot-status bg-danger")
            $(".dot-status").attr("title", "Error al consultar el estado del agente")
            $(".dot-status").tooltip()
          })
      }

      function validarUltimaVersion() {
        try {
          $.ajax({
            url: "{% url 'agente:validar_ultima_version' %}",
          }).done(function(res) {
            if (res.actualizacion_disponible) {
              $(".actualizacion-disponible #v").text(res.ultima_version)
              $(".actualizacion-disponible").fadeIn()
            }
          })
        } catch (error) {
          
        }
      }

        $(function() {
            $('[data-toggle="popover"]').popover()

            validarUltimaVersion()

            {% if request.configuracion.token %}
            healthCheck()
            {% endif %}

            $("[data-confirm]").click(function(e) {
              e.preventDefault()
              var url = $(this).attr("href")
              var mensaje = $(this).attr("data-confirm")
              if(confirm(mensaje)) {
                  window.location.href = url
              }
            })
        });
    </script>
  </body>
</html>