{% extends "agente/base.html" %}
{% load static %}

{% block contenido %}
<div class="container py-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="text-center mb-3">
				<img src="{% static "agente/img/logo_azul_blanco.png" %}" alt="Admintotal" class="img-fluid">
			</div>
			<div class="card card-body">
				<form action="." method="POST">
					{% csrf_token %}
					<div class="form-group">
						{{ form.clave.label_tag }}
						<div class="input-group">
							{{ form.clave }}
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon2">.{{ SETTINGS.ADMINTOTAL_HOST }}</span>
							</div>
						</div>					
						{{ form.clave.errors }}
					</div>
					<div class="form-group">
						{{ form.token.label_tag }}
						{{ form.token }}
						{{ form.token.errors }}
					</div>
					<div class="form-group text-right">
						<hr>
						<button class="btn btn-primary">Iniciar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock contenido %}