{% extends "agente/base.html" %}
{% load static %}

{% block contenido %}

<div class="container-fluid my-2">
	<div class="row">
		<div class="col-md-12 text-center">
            <h3 class="text-info">Pasos para configurar terminales Banorte</h3>
            <hr>
            <div class="p-2">
                <div class="text-muted h5 my-1 mt-4">Paso 1</div>
                <div>Descargar e instalar driver para windows según sea el módelo de su terminal</div>
                <a class="btn btn-primary" target="_blank" href="https://soporte.admintotal.com/central_upload/arhivos_ticket/Driver_Pinpad_Win10.zip">Verifone vx810, vx820</a>
                <a class="btn btn-primary" target="_blank" href="https://soporte.admintotal.com/central_upload/archivos_ticket/Driver_Verifone.rar">Verifone P400</a>
            </div>
            <div class="p-2">
                <div class="text-muted h5 my-1 mt-4">Paso 2</div>
                <div>Descargar e instalar Visual C++ Redistributable para Visual Studio 2012 (x86)</div>
                <a class="btn btn-primary" target="_blank" href="https://www.microsoft.com/es-mx/download/details.aspx?id=30679">Descargar</a>
            </div>
            
            <div class="p-2">
                <div class="text-muted h5 my-1 mt-4">Paso 3</div>
                <div>Descargar e instalar Visual C++ Redistributable para Visual Studio 2013 (x86)</div>
                <a class="btn btn-primary" target="_blank" href="https://www.microsoft.com/es-mx/download/details.aspx?id=40784">Descargar</a>
            </div>
            
            <div class="p-2">
                <div class="text-muted h5 my-1 mt-4">Paso 4</div>
                Reiniciar la pc 
            </div>
            
            <div class="p-2">
                <div class="text-muted h5 my-1 mt-4">Paso 5</div>
                Una vez finalizados los pasos anteriores, configurar los parámetros de afiliación, usuario, password y puerto COM de la terminal. Hacer la carga de llave maestra en caso de ser solicitado por la terminal, para ello dar click en el botón "Cargar llave maestra"  que aparece en el apartado de <a href="/">configuración de banorte</a>
            </div>

		</div>
	</div>
</div>
<script>
$(function() {
    $(".detener-agente").click(function(e) {
        $.ajax({
            url: "{% url 'agente:detener_agente' %}",
            type: "POST",
        }).done(function(res) {
            console.log(res)
        })
    })

    $("[data-path]").click(function(e) {
        var path = $(this).attr("data-path")
        $.ajax({
            url: "{% url 'agente:abrir_explorador_archivos' %}",
            data: {path: path},
            type: "POST",
        }).done(function(res) {
            console.log(res)
        })
    })
})
</script>
{% endblock contenido %}