{% extends "agente/base.html" %}
{% load static %}

{% block contenido %}

<div class="container-fluid my-2">
	<div class="row">
		<div class="col-md-12 text-center">
            <h3 class="text-info">Pasos para instalar la nueva versión del Agente Admintotal</h3>
            <hr>
            <div class="p-2">
                <div class="text-muted h5 my-1 mt-4">Paso 1</div>
                <a class="btn btn-success" href="https://gitlab.com/jahazieldom/agente-admintotal/-/raw/master/dist/Instalador-agente-admintotal.exe?inline=false">Descargar el instalador</a>
            </div>
            <div class="p-2">
                    <div class="text-muted h5 my-1 mt-4">Paso 2</div>
                    <a href="#" class="btn btn-danger detener-agente">Detener agente</a>
            </div>
            <div class="p-2">
                <div class="text-muted h5 my-1 mt-4">Paso 3</div>
                Click derecho en el instalador que descargamos en el Paso 1 y seleccionar "Ejecutar como administrador"
            </div>
            <div class="p-2">
                <div class="text-muted h5 my-1 mt-4">Paso 4</div>
                Una vez finalizada la actualización volver a iniciar el Agente (en el escritorio debe de estar un icono que dice "Agente Admintotal")
            </div>
		</div>
	</div>
</div>
<script>
$(function() {
    $(".detener-agente").click(function(e) {
        $.ajax({
            url: "{% url 'agente:detener_agente' %}",
            type: "POST",
        }).done(function(res) {
            console.log(res)
        })
    })

    $("[data-path]").click(function(e) {
        var path = $(this).attr("data-path")
        $.ajax({
            url: "{% url 'agente:abrir_explorador_archivos' %}",
            data: {path: path},
            type: "POST",
        }).done(function(res) {
            console.log(res)
        })
    })
})
</script>
{% endblock contenido %}