{% extends "agente/base.html" %}
{% load static custom_tags %}

{% block contenido %}
<div class="container-fluid">
    <div class="row">
        
        {% if not request.configuracion.sentry_habilitado %}
        <div class="col-md-12">
            <div class="alert alert-danger p-2">El envío de errores se encuentra deshabilitado</div>
        </div>
        {% endif %}
            
        <div class="col-md-7">
            <div class="card card-body mb-2">
                <div style="line-height:1.2" class="mb-2">
                    <div class="text-success h5 mb-2">{{ request.configuracion.nombre_agente }}</div>
                    <div t="{{ request.configuracion.token }}">{{ request.configuracion.get_url_admintotal }}</div>
                    <small class="d-block my-1" style="opacity: .5;">
                        Fecha de configuración: {{ request.configuracion.fecha_configuracion|date:"d/m/Y H:i" }}
                    </small>
                </div>

                <div>
                    <a href="{% url "agente:eliminar_configuracion" %}" class="btn btn-danger btn-sm" data-confirm="¿Esta seguro que deseas reconfigurar el agente?">
                        Reconfigurar
                    </a>
                </div>
                <hr>

                <form action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form_general.errors }}

                    <input type="hidden" name="form_submitted" value="general">

                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="">Almacén:</label>
                                <select name="almacen" id="id_almacen" class="form-control">
                                    <option value="">------</option>
                                    {% for a in almacenes %}
                                        <option value="{{ a.id }}">{{ a.nombre }}</option>
                                    {% endfor %}
                                </select>
                                
                                {% if not almacenes %}
                                <div class="text-danger">Ocurrió un error al consultar la API de almacenes</div>
                                {% endif %}
                                    
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_general.rfc.label_tag }}
                                        {{ form_general.rfc }}
                                        {{ form_general.rfc.errors }}
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        {{ form_general.razon_social.label_tag }}
                                        {{ form_general.razon_social }}
                                        {{ form_general.razon_social.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_general.direccion_calle.label_tag }}
                                        {{ form_general.direccion_calle }}
                                        {{ form_general.direccion_calle.errors }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_general.direccion_numero_ext.label_tag }}
                                        {{ form_general.direccion_numero_ext }}
                                        {{ form_general.direccion_numero_ext.errors }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_general.direccion_numero_int.label_tag }}
                                        {{ form_general.direccion_numero_int }}
                                        {{ form_general.direccion_numero_int.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_general.direccion_cp.label_tag }}
                                        {{ form_general.direccion_cp }}
                                        {{ form_general.direccion_cp.errors }}
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        {{ form_general.direccion_colonia.label_tag }}
                                        {{ form_general.direccion_colonia }}
                                        {{ form_general.direccion_colonia.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_general.direccion_ciudad.label_tag }}
                                        {{ form_general.direccion_ciudad }}
                                        {{ form_general.direccion_ciudad.errors }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_general.direccion_estado.label_tag }}
                                        {{ form_general.direccion_estado }}
                                        {{ form_general.direccion_estado.errors }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        {{ form_general.direccion_pais.label_tag }}
                                        {{ form_general.direccion_pais }}
                                        {{ form_general.direccion_pais.errors }}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_general.telefono.label_tag }}
                                {{ form_general.telefono }}
                                {{ form_general.telefono.errors }}
                            </div>
                        </div>
    
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        {{ form_general.nombre_impresora.label_tag }}
                                        {{ form_general.nombre_impresora.as_hidden }}
                                        <select id="select_impresoras" class="form-control"></select>
                                        {{ form_general.nombre_impresora.errors }}
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <div class="form-group">
                                            {{ form_general.ancho_papel_impresora_px.label_tag }}
                                            {{ form_general.ancho_papel_impresora_px }}
                                            {{ form_general.ancho_papel_impresora_px.errors }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_general.configuraciones_impresora.label_tag }}
                                {{ form_general.configuraciones_impresora }}
                                {{ form_general.configuraciones_impresora.errors }}
                            </div>
                            
                            {% if configuraciones_impresora_existente %}
                            <a href="{% url 'agente:eliminar_configuracion_impresion' %}" class="text-danger" data-confirm="¿Esta seguro que desea eliminar la configuración actual de impresión?">Borrar configuración actual</a>
                            {% endif %}
                        </div>
                    </div>

                    <hr>
                    <div class="text-right">
                        <button class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-tabs config-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#pinpadBanorteConfig" role="tab" aria-selected="true">
                            {% if request.configuracion.banorte_habilitado %} <i class="ion ion-md-checkmark text-success"></i> {% else %} <i class="ion ion-md-close text-danger"></i> {% endif %} Pinpad Banorte
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#basculaConfig" role="tab" aria-selected="false">
                            {% if request.configuracion.bascula_habilitado %} <i class="ion ion-md-checkmark text-success"></i> {% else %} <i class="ion ion-md-close text-danger"></i> {% endif %} Báscula
                        </a>
                      </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="pinpadBanorteConfig" role="tabpanel">
                          <div class="p-3">
                              <form action="." method="POST">
                                  {% csrf_token %}
                                  <input type="hidden" name="form_submitted" value="banorte">

                                  <div class="form-group my-3">
                                      <div class="form-check form-switch">
                                        {{ form_banorte.banorte_contactless }}
                                        <label class="form-check-label" for="{{ form_banorte.banorte_contactless.auto_id }}">{{ form_banorte.banorte_contactless.label }}</label>
                                      </div>
                                      {{ form_banorte.banorte_contactless.errors }}
                                  </div>

                                    <div class="form-group">
                                        {{ form_banorte.banorte_afiliacion.label_tag }}
                                        {{ form_banorte.banorte_afiliacion }}
                                        {{ form_banorte.banorte_afiliacion.errors }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_banorte.banorte_usuario.label_tag }}
                                        {{ form_banorte.banorte_usuario }}
                                        {{ form_banorte.banorte_usuario.errors }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_banorte.banorte_password.label_tag }}
                                        {{ form_banorte.banorte_password }}
                                        {{ form_banorte.banorte_password.errors }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_banorte.banorte_puerto_pinpad.label_tag }}
                                        {{ form_banorte.banorte_puerto_pinpad }}
                                        {{ form_banorte.banorte_puerto_pinpad.errors }}
                                    </div>

                                  <div>
                                      <hr>
                                      <div class="d-flex flex-wrap justify-content-between">
                                          <div class="mb-1">
                                              <a class="btn btn-light btn-sm" href="https://documentacion.admintotal.com/integraciones/terminales-banorte" target="blank">Guía de configuración</a>
                                              {% if request.configuracion.banorte_habilitado and request.configuracion.banorte_puerto_pinpad %}
                                              <button id="banorte_cargar_llave_pinpad" type="button" class="btn btn-light btn-sm">Cargar llave maestra</button>
                                              {% endif %}
                                          </div>
                                          <button class="btn btn-primary">Guardar cambios</button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                      
                      <div class="tab-pane fade" id="basculaConfig" role="tabpanel">
                          <div class="p-3">
                              <form action="." method="POST">
                                  {% csrf_token %}
                                  <input type="hidden" name="form_submitted" value="bascula">
                                    <div class="form-group my-3">
                                        <div class="form-check form-switch">
                                            {{ form_bascula.bascula_torrey }}
                                            <label class="form-check-label" for="{{ form_bascula.bascula_torrey.auto_id }}">{{ form_bascula.bascula_torrey.label }}</label>
                                        </div>
                                        {{ form_bascula.bascula_torrey.errors }}
                                    </div>
                                        
                                    <div class="form-group">
                                        {{ form_bascula.bascula_puerto.label_tag }}
                                        {{ form_bascula.bascula_puerto }}
                                        {{ form_bascula.bascula_puerto.errors }}
                                    </div>
                                      <div class="form-group">
                                        {{ form_bascula.bascula_baudrate.label_tag }}
                                        {{ form_bascula.bascula_baudrate }}
                                        {{ form_bascula.bascula_baudrate.errors }}
                                    </div>
                                      <div class="form-group">
                                        {{ form_bascula.bascula_stopbits.label_tag }}
                                        {{ form_bascula.bascula_stopbits }}
                                        {{ form_bascula.bascula_stopbits.errors }}
                                    </div>
                                      <div class="form-group">
                                        {{ form_bascula.bascula_parity.label_tag }}
                                        {{ form_bascula.bascula_parity }}
                                        {{ form_bascula.bascula_parity.errors }}
                                    </div>
                                      <div class="form-group">
                                        {{ form_bascula.bascula_cmd.label_tag }}
                                        {{ form_bascula.bascula_cmd }}
                                        {{ form_bascula.bascula_cmd.errors }}
                                    </div>
                                      <div class="form-group">
                                        {{ form_bascula.bascula_byte_size.label_tag }}
                                        {{ form_bascula.bascula_byte_size }}
                                        {{ form_bascula.bascula_byte_size.errors }}
                                    </div>
                                  
                                    <hr>
                                  <div class="d-flex justify-content-between">
                                    <div>
                                        <a class="btn btn-light m-1 driver-torrey" target="_blank" href="{% static 'agente/instaladores/MFQ-40-TORREY__VCP_V1.5.0_Setup_W7_x64_64bits.exe' %}">
                                            Descargar Driver Torrey MFQ-40 Windows
                                        </a>
                                    </div>
                                    <button class="btn btn-primary m-1">Guardar cambios</button>
                                  </div>
                              </form>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}


{% block js %}
<script>

function initSelectDispositivosBiometricos() {
    var $select = $("#select_biometric_serial_number");
    var currentVal = $("#{{ form_biometrico.nt_biometric_serial_number.auto_id }}").val()
    console.log(currentVal)
    $select.change(function(e) {
        let v = $(this).val()
        $("#{{ form_biometrico.nt_biometric_serial_number.auto_id }}").val(v)
    })

    $.ajax({
        url: "{% url 'agente:ajax_get_dispositivos_biometricos' %}",
    }).done(function(res) {
        let opciones = [$(`<option value="">--------</option>`)]
        $select.empty()
        if (res.status == "success") {
            res.dispositivos.forEach((opt) => {
                var $option = $(`<option value="${opt[0]}">${opt[1]}</option>`)
                if (opt[0] == currentVal) {
                    $option.attr("selected", "selected")
                }
                opciones.push($option)
            })
        } else {
        }

        $select.append(opciones)
    })
}

function initSelectImpresora() {
    var $select = $("#select_impresoras");
    var impresoraActual = $("#{{ form_general.nombre_impresora.auto_id }}").val()

    $select.change(function(e) {
        let nombreImpresora = $(this).val()
        $("#{{ form_general.nombre_impresora.auto_id }}").val(nombreImpresora)
    })

    $.ajax({
        url: "{% url 'agente:ajax_obtener_impresoras' %}",
    }).done(function(res) {
        let opciones = [$(`<option value="">--------</option>`)]

        console.log(impresoraActual)

        $select.empty()

        if (res.status == "success") {
            res.impresoras.forEach((impresora) => {
                var $option = $(`<option value="${impresora}">${impresora}</option>`)
                if (impresora == impresoraActual) {
                    $option.attr("selected", "selected")
                }
                opciones.push($option)
            })
        }

        $select.append(opciones)
    })
}

$(function(e) {
    var almacenes = {{ almacenes|jsonify }}

    initSelectImpresora()
    initSelectDispositivosBiometricos()

    {% if request.GET.form_submitted %}
    var paneId = $('[value="{{ request.GET.form_submitted }}"]').closest(".tab-pane").attr("id")
    $('[href="#'+paneId+'"]').click()
    {% endif %}

    $("#banorte_cargar_llave_pinpad").click(function(e) {
        e.preventDefault()
        console.log("entro")
        $(this).prop("disabled", true)
        window.location.href = '{% url "agente:banorte_cargar_llave_pinpad" %}'
    })

    $("#{{ form_bascula.bascula_torrey.auto_id }}").change(function(e){
        if ($(this).is(":checked")) {
            $(".driver-torrey").show()
        } else {
            $(".driver-torrey").hide()
        }
    }).change()

    $("#id_almacen").change(function(e) {
        var idAlmacen = $("#id_almacen option:selected").attr("value")
        if (idAlmacen) {
            for (let i = 0; i < almacenes.length; i++) {
                var almacen = almacenes[i];
                if (almacen.id == idAlmacen) {
                    console.log(almacen)
                    $("#id_direccion_colonia").val(almacen.direccion.colonia)
                    $("#id_direccion_numero_ext").val(almacen.direccion.numero_e)
                    $("#id_direccion_numero_int").val(almacen.direccion.numero_i)
                    $("#id_direccion_pais").val(almacen.direccion.pais_residencia)
                    $("#id_direccion_estado").val(almacen.direccion.estado)
                    $("#id_direccion_ciudad").val(almacen.direccion.localidad)
                    $("#id_direccion_cp").val(almacen.direccion.cp)
                    $("#id_direccion_calle").val(almacen.direccion.calle)
                    $("#id_telefono").val(almacen.direccion.telefono)
                    break
                }
            }
        }
    })

});
</script>
{% endblock js %}