{% extends "agente/base.html" %}
{% load static %}

{% block contenido %}
<style>
pre{
    color: #cccccc;
    background-color: rgba(0,0,0,.2);
    padding: 10px;
    border-radius: 5px;
    height: 78vh;
    margin: 0;
    overflow: auto;
    font-size: .85em;

    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            <p class="text-center text-white">{{ log_file }}</p>
			<pre id="log">{{ log }}</pre>
		</div>
	</div>
</div>
<script>

function actualizarLogs() {
    $.ajax({
        url: "{{ request.path }}",
        data: {"tail": "{{ request.GET.tail|default:'' }}"}
    }).done(function(res) {
        if ($("#log").html() != res.log) {
            $("#log").html(res.log)
            $('#log').scrollTop($('#log')[0].scrollHeight);
            /*
            setTimeout(function() {
                actualizarLogs()
            }, 2000)
            */
        }
    })
}
$(function() {
    $('#log').scrollTop($('#log')[0].scrollHeight);
    actualizarLogs()
})
</script>
{% endblock contenido %}