{% extends "agente/base.html" %}
{% load static %}

{% block contenido %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-striped table-borderless table-vm">
					<thead>
						<tr>
							<th>Status</th>
							<th>Descripción</th>
							<th>Inicio</th>
							<th>Fin</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for tarea in objects %}
						<tr style="line-height: 1.1;">
							<td>
								{% if tarea.get_resultado.status == "success" %}
								<div class="badge bg-success"><i class="ion ion-md-checkmark"></i> {{ tarea.get_resultado.status }}</div>
								{% else %}
								<div class="badge bg-danger"><i class="ion ion-md-close"></i> {{ tarea.get_resultado.status }}</div>
								{% endif %}
							</td>
							<td>
								<b><a href="{% url 'agente:ver_tarea' tarea.id %}">{{ tarea.descripcion }}</a></b>
								{% if tarea.es_transaccion_pinpad %}
								<div>{{ tarea.get_datos.datos.referencia }} - ${{ tarea.get_datos.datos.monto }}</div>
								{% endif %}
								<div><small>{{ tarea.get_resultado.mensaje }}</small></div>
								
							</td>
							<td><a class="text-dark" href="{% url 'agente:ver_tarea' tarea.id %}">{{ tarea.inicio|date:"d/m/Y H:i:s" }}</a></td>
							<td><a class="text-dark" href="{% url 'agente:ver_tarea' tarea.id %}">{{ tarea.fin|date:"d/m/Y H:i:s" }}</a></td>
							<td class="text-end">
								{% if tarea.resultado_notificado %}
									<div class="text-success">Notificado</div>
								{% else %}
									<a href="{% url "agente:notificar_resultado_tarea" tarea.id %}" class="text-danger">No notificado</a>
									<a href="{% url "agente:notificar_resultado_tarea" tarea.id %}" class="text-danger">No notificado</a>
								{% endif %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			{% include "utils/paginado.html" %}
		</div>
	</div>
</div>
{% endblock contenido %}