{% extends "agente/base.html" %}
{% load static %}

{% block contenido %}
<style>
pre{
    color: white;
    background-color: rgba(0,0,0,.2);
    padding: 10px;
    border-radius: 5px;
    height: 75vh;
    overflow: auto;
    font-size: .8em;

    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
</style>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <div class="d-flex">
                    <div class="p-2 m-1 font-weight-bold">{{ tarea.descripcion }}</div>
                    <div class="p-2 m-1 text-info">Inicio: {{ tarea.inicio|date:"d/m/Y H:i:s" }}</div>
                    <div class="p-2 m-1 text-info">Fin: {{ tarea.fin|date:"d/m/Y H:i:s" }}</div>
                </div>
                
                {% if transaccion_banorte %}
                <div class="d-flex">
                    
                    {% if SETTINGS.LOCAL_DEVELOPMENT %}                        
                    <div class="p-2 m-1"><a class="btn btn-primary btn-sm" href="{% url "agente:preview_voucher" tarea.id %}">Preview voucher</a></div>
                    {% endif %}
                    <div class="p-2 m-1"><a class="btn btn-primary btn-sm" href="{% url "agente:imprimir_voucher" tarea.id %}">Imprimir voucher</a></div>
                </div>
                {% endif %}
            </div>
			<pre id="log">{{ json_data }}</pre>
		</div>
	</div>
</div>
{% endblock contenido %}