{% if messages %}
<style>
.flash_messages_wrapper
{
	position: fixed;
    top: 60px;
    right: 7px;
	z-index: 99;
}
</style>
<div class="flash_messages_wrapper">
    {% for message in messages %}
	<div class="alert alert-{% if message.tags %}{% if message.tags == 'error' %}danger {% else %}{{ message.tags }} {% endif %}{% endif %} my-1 p-2 flash-message">
		<div class="alert-title">{{ message|safe }}</div>
	</div>
    {% endfor %}
</div>

<script>
	$(function() {
		$(".flash_messages_wrapper .alert").click(function(e) {
			$(this).fadeOut("fast")
		})
	})
</script>
{% endif %}
