{% extends "workflow/clean_base.html" %}
{% load thumbnail %}

{% block _contenido %}
<div class="container-fluid">
    <div class="text-center">
        <div class="my-2">
            {% if configuracion.logo %}
            {% thumbnail configuracion.logo "x65" format="PNG" as im %}
                <img src="{{ im.url }}"  class="img-fluid">
            {% endthumbnail %}
            {% else %}
            <img src="https://placehold.it/120x60" class="img-fluid">
            {% endif %}
        </div>
    </div>
    <div class="text-center">
        <hr>
        <h1 class="text-success"><i class="icon ion-md-checkmark-circle-outline"></i></h1>
        <h3 class="text-success">{{ msg }}</h3>
        <button type="button" onclick="window.close();" class="btn btn-primary">Salir</button>
    </div>


</div>

{% endblock _contenido %}